/*@import "../font/icon/iconfont.css";*/
@import "./parts/phoneReset.css";
/*@import "./parts/normalize.css";*/
@import "./parts/class.css";

/* 隐藏滚动条 */
.element::-webkit-scrollbar {display:none}
ol, ul {
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: #2d2d34;
}

img {
  vertical-align: middle;
  font-size: 0;
}